<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vn.thailam.android.masterlife">

    <application
        android:name=".app.MainApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MasterLife">
        <activity android:name=".app.page.note.detail.NoteDetailActivity"></activity>
        <activity android:name=".app.page.note.list.NoteActivity" />
        <activity
            android:name=".app.page.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".app.page.passsaver.list.PassSaverActivity" />
        <activity android:name=".app.page.home.HomeActivity" />
    </application>

</manifest>